.jymbody *{box-sizing: border-box;}
.jym-top{ width: 100%; background: #313131; padding: 10px 0; color: #acaaaa; font-size: 12px;}
.jym-1200{ max-width: 1200px; width: 100%; margin: 0 auto;}

.jym-a{ color: #acaaaa; padding:  0 5px;}
.jym-a.login{ color: #ff0000;}

.jym-heard{ width: 100%;}
.jym-box{ width: 100%; padding: 10px 0;}
.jym-logo{ width:20%;}
.jym-logo img{ max-width: 100%; display: block; margin: 0 auto;}
.jym-seach{ width: 55%; margin: 25px 5%; border-bottom: 2px solid #e60012; line-height: 40px;}
.jym-seach i{font-size: 16px;}
.jym-seach input{ height: 40px; width: 90%; font-size: 16px; background: none; border: none;color: #535353; padding-left: 16px;}
.jym-shopcar{width:15%; font-size: 18px; position: relative; text-align: center; margin: 25px 0; border-bottom: 2px solid #e60012; line-height: 40px;}
.jym-shopcar span{position: absolute; top: 5px; right: 32px; width: 20px; height: 20px;  background: #e60012; border-radius: 50%; text-align: center;line-height: 20px;  color: #fff;}
.jym-nav{ width: 100%;}
.jym-nav-m{ width:20%; position: relative; z-index: 999;}
.jym-nav-m-s{ display: block; width: 100%;  background: #e60012; color:  #fff; padding:8px 0;padding-left:20%;}
.jym-nav-mbox{ position: absolute; z-index: 99999; top: 100%; width: 100%; left: 0; background: rgba(0,0,0,0.5); padding: 0 0  20px 0;}
.jym-nav-m-z{position: relative; width: 100%;}
.jym-nav-m-z a.clear{ padding: 8px 10px;margin:  0 10%;  color: #fff;font-size:15px; border-bottom: 1px solid #6e6d6d; display: block }
.jym-nav-m-z i:nth-child(1){ width: 16px; text-align: center;}
.jym-nav-m-z i:nth-child(2){  color: #ccc;}
.jym-nav-t{width: 70%;  padding-left: 5%;}
.jym-nav-t a{padding:4px 15px 4px; margin-right: 40px; display: inline-block; border-bottom: 2px solid #fff; color: #737373;  font-size: 16px;}
.jym-nav-t a.active,.jym-nav-t a:hover{border-bottom: 2px solid #e60012; color: #232323; }

.jym-nav-m-zbox{ position: absolute; padding: 15px 30px; width: 800px; min-height:200px; background: rgba(0,0,0,0.9); top: 0; left:100.5%; z-index: 666; display: none}
.jym-nav-m-zli{ padding: 10px 0;}
.jym-nav-m-zbox label{ float: left; font-size: 14px; color: #fff;}
.jym-nav-m-zbox a{ float: left; font-size: 13px; color: #d8d7d7; padding: 0 10px;}
.jym-nav-m-zbox a:hover{ color: #fff;}

.jym-nav-m-z:hover .jym-nav-m-zbox{ display: block;}

.jym-ad{ width: 100%;}
.jym-ad .inbox img{ width: 100%;}

.jym-f-title{ padding: 20px 0 15px; color: #333; font-size: 18px; font-weight: bold;}
.jym-f-title span{ color: #535353;}
.jym-f-one{ width: 230px;}
.jym-f-img{ position: relative; cursor: pointer;}
.jym-f img{ position: relative; z-index: 2; width: 100%;}
.jym-f-two{ width: 960px; margin-left: 10px;}
.jym-f-two-up{ margin-bottom: 10px;}
.jym-f-two-up .jym-f-img{ width: 232px;}
.jym-f-two-down{ height: 295px; overflow: hidden;}
.jym-f-two-down .jym-f-img{ width: 473px;}
.jym-f-img-txt{ position: absolute; width: 100%; height: 100%; z-index: 666; left: 0; top: 0;}
.jym-f-one .jym-f-img-txt label{ color:#e60012; font-size: 22px; font-weight: bold;display: block;text-align: center; margin-top: 60px; margin-bottom: 20px; }
.jym-f-one .jym-f-img-txt span{ display: block; text-align: center;color: #4b4b4b; padding: 15px 0 0; font-size: 14px; font-weight: bold}
.jym-f-one .jym-f-img-txt a{ color: #e60012; font-size: 14px; display: block;margin-top:60px; text-align: center; font-weight: bold}
.jym-f-two .jym-f-img-txt{ padding: 0 15px;}
.jym-f-two .jym-f-img-txt label{ color:#030303; font-size: 18px; font-weight: bold;display: block; margin-top:30px; margin-bottom: 5px; }
.jym-f-two .jym-f-img-txt span.one{ color:#555; font-size: 13px;}
.jym-f-two .jym-f-img-txt span{ display: block; color: #222;  font-size: 14px; font-weight: bold; line-height: 20px;}


.jym-bottom{ padding: 40px 0;}
.jym-b-oli{ width: 25%; padding-left: 40px;}
.jym-b-oli img{ width: 56px; margin-right: 10px;}
.jym-b-oli label{ display: block; color: #222; font-size: 16px; line-height: 28px;}
.jym-b-oli span{ display: block; color: #555; font-size: 14px;line-height: 28px;}

.jym-b-tli{ width: calc(100% / 6); margin-top:40px; padding-left: 40px;}
.jym-b-tli label{ display: block; color: #010101; font-size: 16px; line-height: 28px;}
.jym-b-tli span{ display: block; color: #555; font-size: 14px;line-height: 22px;}
.jym-b-tli img{ width: 80px;}

.jym-foot{ background: #313131; color: #acaaaa; text-align: center; padding: 20px 0; line-height: 26px; font-size: 14px;}


.jym-leftnav{position: fixed; width:50px ; left:1%; bottom: 30px; z-index: 666666666;}
.jym-leftnav a{ width: 50px; height: 50px; text-decoration: none; display: block; line-height: 50px; text-align: center; background: #a0a0a0; color: #fcfdfd;font-size: 16px; margin-bottom: 2px; }
.jym-leftnav a:hover{ border-radius: 4px; color: #fff;background: #808080;}